# Core data processing
pandas
numpy

# Machine Learning
scikit-learn

# Configuration and environment management
python-dotenv

# Firebase authentication
firebase-admin==7.6.0

# Explainable AI
shap

# API framework
fastapi
uvicorn

# Testing
pytest
httpx