@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
  50% { opacity: 0; }
}

.typing-cursor {
  animation: blink 1s infinite;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(300%);
  }
}